<a href="https://colab.research.google.com/github/cimga/Python/blob/main/Warming1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if 5>2:
  print ("yes")

print ("a new cdoe block come")

yes
a new cdoe block come

In [ ]:
'''
test for multiple comments
ckjkcjdshkjchs
hkfhkch
'''

print (5+8)

13

In [ ]:
name = "john"
Name = 'me'

In [ ]:
print(name, Name)

john me

In [ ]:
print (type(name))

<class 'str'>

In [ ]:
a,b,c = "apple", "ball", 5
print(a)
print(b)
print(c)

apple
ball
5

In [ ]:
def firstFunc():
  x="my nane is"
  print (x)

firstFunc()

my nane is

In [ ]:
y= "kurt"
def f1 ():
  global y
  y="zirto"
  print(y)

f1()
print (y)

zirto
zirto

In [ ]:
f1()

zirto